.jumbotron {
  padding-top: 6rem;
  background-color: #ebe7e0;
}

#projects {
  background-color: #ebe7e0;
}
.rutinitas {
  margin-bottom: 8rem !important ;
}
.kpp {
  margin-top: -8rem !important;
}

section {
  padding-top: 5rem;
}
